<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.inventive.yokiepet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logopet"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="my.inventive.yokiepet.OrderActivity" />
        <activity android:name="my.inventive.yokiepet.MyorderItemList" />
        <activity android:name="my.inventive.yokiepet.MyorderActivity" />
        <activity android:name="my.inventive.yokiepet.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.inventive.yokiepet.StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="my.inventive.yokiepet.RegisterActivity" />
        <activity android:name="my.inventive.yokiepet.LoginActivity" />
        <activity android:name="my.inventive.yokiepet.DescriptionActivity" />
        <activity android:name="my.inventive.yokiepet.Supplements"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name="my.inventive.yokiepet.PelletDryFood"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name="my.inventive.yokiepet.Treat"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name="my.inventive.yokiepet.ChewsAndTreat"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name="my.inventive.yokiepet.AttaAndOtherActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name="my.inventive.yokiepet.CartActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name="my.inventive.yokiepet.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>